<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>Create or Update your ticket:</h1>

{{ form_start(form) }}

<table>
  <tbody>
    <tr>
      <th>Nom:</th>
      <td>{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
      <th>Prenom:</th>
      <td>{{ form_widget(form.prenom) }}</td>
    </tr>
    <tr>
      <th>Date départ:</th>
      <td>{{ form_widget(form.depart) }}</td>
    </tr>
    <tr>
      <th>Date retour:</th>
      <td>{{ form_widget(form.retour) }}</td>
    </tr>
    <tr>
      <th>Moyen:</th>
      <td>{{ form_widget(form.moyen) }}</td>
    </tr>
    <tr>
      <th>Ville:</th>
      <td>{{ form_widget(form.ville) }}</td>
    </tr>
    <tr>
      <th>Save</th>
      <td>{{ form_widget(form.save) }}</td>
    </tr>
  </tbody>
</table>

{{ form_end(form) }}