<style>
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
</style>

<h1>les passagers </h1>

{% if personnes is not empty %}
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>date depart</th>
      <th>date de retour</th>
      <th>Moyen</th>
      <th>Ville</th>
      <th>Delete</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
  {% for personne in personnes %}
  <tr>
    <td>{{ personne.nom }}</td>
    <td>{{ personne.prenom }}</td>
    <td>{{ personne.depart|date("d/m/Y") }}</td>
    <td>{{ personne.retour|date("d/m/Y") }}</td>
    <td>{{ personne.moyen }}</td>
    <td>{{ personne.ville }}</td>
    
    
    <td><a href="update-personne/{{ personne.id }}">Update</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p>No article found.</p>
{% endif %}

<br/>
<a href="/create-personne">Create New</a>