<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>ticket Created or Modified</h1>

<table>
  <tbody>
    <tr>
      <th>Nom:</th>
    <td>{{ personne.nom }}</td>
    </tr>
    <tr>
      <th>Prenom:</th>
      <td>{{ personne.prenom }}</td>
    </tr>
    <tr>
      <th>date d'arrivée:</th>
      <td>{{ personne.depart }}</td>
    </tr>
    <tr>
      <th>date de retour :</th>
      <td>{{ personne.retour }}</td>
    </tr>
    <tr>
      <th>Moyen:</th>
      <td>{{ personne.moyen }}</td>
    </tr>
     <tr>
      <th>Moyen:</th>
      <td>{{ personne.ville }}</td>
    </tr>
  </tbody>
</table>

<br/>
<a href="/show-personnes">View All</a> -
<a href="/update-personne/{{ personne.id }}">Modify</a>
